@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500&display=swap');
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 
 body{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
   }

  section{
     min-height: 94vh;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  




  


  
